<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hh.dao.DepartmentDao">
    <insert id="addDepartment">
        INSERT INTO T_DEPARTMENT VALUES (SEQ_D_ID.NEXTVAL,#{d_name},#{d_time})
    </insert>
    <update id="updateDepartment">
        UPDATE T_DEPARTMENT SET D_NAME=#{d_name} WHERE d_id=#{d_id}
    </update>
    <delete id="delDepartment">
        DELETE FROM T_DEPARTMENT WHERE D_ID=#{d_id}
    </delete>
    <select id="queryDepartment" resultType="Department">
        SELECT * FROM T_DEPARTMENT WHERE D_ID=#{d_id}
    </select>
    <select id="queryDepartmentList" resultType="Department">
        SELECT * FROM T_DEPARTMENT
    </select>
    <select id="queryDepartmentLimit" resultType="Department">
        SELECT * FROM
        (SELECT rownum rn,T_DEPARTMENT.*
        FROM T_DEPARTMENT
        WHERE rownum &lt;= #{pageSize}) d
        WHERE d.rn &gt;= #{currentPage}
    </select>
</mapper>