<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hh.dao.RecruitFlowDao">
    <insert id="addRecruitFlow" parameterType="RecruitFlow">
        INSERT INTO T_RECRUIT_FLOW
        VALUES(SEQ_RF_ID.NEXTVAL,#{ri_id},#{v_id},#{r_id},0,null,null,0)
    </insert>
    <delete id="delRecruitFlow" parameterType="RecruitFlow">
        DELETE FROM T_RECRUIT_FLOW WHERE RF_ID=#{rf_id}
    </delete>
    <update id="updateRecruitFlow" parameterType="RecruitFlow">
        UPDATE T_RECRUIT_FLOW
        <set>
            <if test="rf_consult!=null">
                RF_CONSULT=#{rf_consult},
            </if>
            <if test="rf_time!=null">
                RF_TIME=#{rf_time},
            </if>
            <if test="s_id!=null">
                S_ID=#{s_id},
            </if>
            <if test="rf_state!=null">
                RF_STATE=#{rf_state},
            </if>
        </set>
        WHERE RF_ID=#{rf_id}
    </update>
    <select id="queryRecruitFlow" resultType="RecruitFlow">
        SELECT * FROM T_RECRUIT_FLOW
        <where>
            <if test="rf_id!=null">
                AND RF_ID=#{rf_id}
            </if>
        </where>
    </select>
    <select id="queryRecruitFlowList" resultType="RecruitFlow">
        SELECT * FROM T_RECRUIT_FLOW
        <where>
            <if test="ri_id!=null">
                AND RI_ID=#{ri_id}
            </if>
            <if test="v_id!=null">
                AND V_ID=#{v_id}
            </if>
            <if test="r_id!=null">
                AND R_ID=#{r_id}
            </if>
            <if test="rf_state!=null">
                AND RF_STATE=#{rf_state}
            </if>
        </where>
    </select>
    <select id="queryRecruitFlowLimit" parameterType="hashmap" resultType="RecruitFlow">
        SELECT * FROM (
        SELECT rownum rn,T_RECRUIT_FLOW.*
        FROM T_RECRUIT_FLOW
        <where>
            <if test="ri_id!=null">
                AND RI_ID=#{ri_id}
            </if>
            <if test="v_id!=null">
                AND V_ID=#{v_id}
            </if>
        </where>
        AND rownum &lt;= #{pageSize}) rf
        WHERE rf.rn &gt;= #{currentPage}
    </select>
</mapper>