<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hh.dao.StaffDao">
    <insert id="addStaff">
        INSERT INTO T_STAFF
        VALUES(SEQ_S_ID.NEXTVAL,#{s_name},#{s_pass},#{s_full_name},#{s_sex},#{s_age},#{s_phone},#{s_email},#{s_salary},#{d_id},#{p_id},0)
    </insert>
    <delete id="delStaff">
        DELETE FROM T_STAFF WHERE S_ID=#{s_id}
    </delete>
    <update id="updateStaff">
        UPDATE T_STAFF
        <set>
            <if test="s_pass!=null">
                S_PASS=#{s_pass},
            </if>
            <if test="s_full_name!=null">
                S_FULL_NAME=#{s_full_name},
            </if>
            <if test="s_sex!=null">
                S_SEX=#{s_sex},
            </if>
            <if test="s_age!=null">
                S_AGE=#{s_age},
            </if>
            <if test="s_phone!=null">
                S_PHONE=#{s_phone},
            </if>
            <if test="s_email!=null">
                S_EMAIL=#{s_email},
            </if>
            <if test="s_salary!=null">
                S_SALARY=#{s_salary},
            </if>
            <if test="d_id!=null">
                D_ID=#{d_id},
            </if>
            <if test="p_id!=null">
                P_ID=#{p_id},
            </if>
            <if test="s_state!=null">
                S_STATE=#{s_state},
            </if>
        </set>
        WHERE S_ID=#{s_id}
    </update>
    <select id="queryStaff" resultType="Staff">
        SELECT * FROM T_STAFF
        <where>
            <if test="s_id!=null">
                AND S_ID=#{s_id}
            </if>
            <if test="s_name!=null">
                AND S_NAME=#{s_name}
            </if>
            <if test="s_pass!=null">
                AND S_PASS=#{s_pass}
            </if>
        </where>
    </select>
    <select id="queryStaffList" resultType="Staff">
        SELECT * FROM T_STAFF
        <where>
            <if test="d_id!=null">
                AND D_ID=#{d_id}
            </if>
            <if test="p_id!=null">
                AND P_ID=#{p_id}
            </if>
            <if test="s_state!=null">
                AND S_STATE=#{s_state}
            </if>
        </where>
    </select>
    <select id="queryStaffLimit" resultType="Staff">
        SELECT * FROM (
        SELECT rownum rn,T_STAFF.*
        FROM T_STAFF
        <where>
            <if test="d_id!=null">
                AND D_ID=#{d_id}
            </if>
            <if test="p_id!=null">
                AND P_ID=#{p_id}
            </if>
            <if test="s_state!=null">
                AND S_STATE=#{s_state}
            </if>
            AND rownum &lt;= #{pageSize}
        </where>
        ) s
        WHERE s.rn &gt;= #{currentPage}
    </select>
</mapper>